/* Variables for colors */
$primary-color: #605ced;
/* Teal */
$secondary-color: #4646f7;
/* Red */
$background-color: #fff;
/* Light Gray */
$text-color: #fafafa;
/* Dark Gray */

/* Chat container styles */
.chat-container {
    width: 98%;
    /* Full width */
    height: 90vh;
    /* Full viewport height */
    background-color: $background-color;
    /* Light cream background */
    padding: 10px;
    font-family: 'Comic Sans MS', cursive;
    /* Fun, comic-style font */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
}

/* Message bubble styles */

.messages {
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    justify-content: flex-start; // Default alignment for bot messages
    margin-bottom: 10px; // Space between messages
}

.user-message-container {
    display: flex;
    justify-self: right; // Align user messages to the right
    flex-direction: row-reverse;
    justify-self: flex-end;
}

.bot-message-container {
    display: flex;
    width: fit-content;
    justify-self: flex-start;
}

.user-message-text,
.bot-message-text {
    padding: 10px;
    border-radius: 10px;
    margin: 5px; // Spacing around the message text
    height: fit-content;
    width: fit-content;
}

.user-message-text {
    background: linear-gradient(to left bottom, #8989FA, #9589FA, #a6a3f5);
    /* Sky blue user message */
    color: #f4f4fa;
    /* Dark gray text */
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    // float: right;

    clear: both;
}

// .user-message-text {
//     background: linear-gradient(to left bottom, #8989FA, #9589FA, #a6a3f5);
//         /* Sky blue user message */
//         color: #f4f4fa;
// }
.user-img {
width: 70px;
    margin-top: 15px;
    border-radius: 50px;
    border: 5px solid #4646f7;
    padding: 5px;
    margin:0px 10px 0 10px;
}

.bot-img, .user-img {
    width: 70px;
    height: 70px !important;
    margin-top: 15px;
    border-radius: 50px;
    border: 5px solid #4646f7;
    padding: 5px;
    margin-right: 10px;
}

// .bot-message-container {
//     align-items: flex-start; // Align bot messages to the left
// }
.bot-message-text{
background: linear-gradient(to right bottom, #4646f7, #5c4cf7, #605ced);
    /* Green bot message */
    color: #f4f4fa;
    /* Dark gray text */
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}

/* Input container styles */
.input-container {
    display: flex;
    margin: 0px 0;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(to right bottom, #4646f7, #5c4cf7, #605ced);
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    color: #f4f4fa;
    /* Remove the border */
    border-radius: 5px;
    margin: 0 10px 0 20px;
    font-family: 'Comic Sans MS', cursive;
    /* Fun, comic-style font */
    background-color: transparent !important;

    &::placeholder{
        color: #f4f4fa;
        opacity: .6;
    }
}

button {
    background-color: $secondary-color;
    /* Pastel red button */
    color: white;
    border: none;
    /* Remove the border */
    border-radius: 25px;
    padding: 10px 20px 10px 20px !important;
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    /* Fun, comic-style font */
}

/* Animation for message bubbles */
.message-enter-active,
.message-leave-active {
    transition: all 0.5s;
}

.message-enter,
.message-leave-to {
    opacity: 0;
    transform: translateX(50px);
}

/* Styles for the chat container */
.chat-container {
    max-width: 98%;
    margin: 0;
    padding: 10px;
    height: 90vh;
    /* Make the chat container take the full viewport height */
    background-color: $background-color;
    border: none;
    /* Remove the border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Comic Sans MS', cursive;
    display: flex;
    flex-direction: column-reverse;
    /* Reverse the order of messages to display new messages at the bottom */
    justify-content: flex-end;
    /* Align messages to the bottom */
}

/* Styles for the error message */
.error-message {
    background-color: #FF5733;
    /* Red background for error message */
    color: white;
    /* White text color */
    border-radius: 10px;
    padding: 10px;
    clear: both;
}

/* Styles for the loading message */
/* Style for the loading message */
.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define your base font size */
$base-font-size: 20px;

/* Chat container styles */
.chat-container {
    /* ... other styles ... */

    /* Responsive font size */
    font-size: $base-font-size;
    /* Set a base font size */
}

/* Define media queries for responsive font size */
@media screen and (min-width: 768px) {

    /* Larger font size for wider viewports */
    .chat-container {
        font-size: calc(#{$base-font-size} + 2px);
        /* Increase font size */
    }
}

@media screen and (max-width: 767px) {

    /* Smaller font size for narrower viewports */
    .chat-container {
        font-size: calc(#{$base-font-size} - 2px);
        /* Decrease font size */
    }
}

/* Button and input styles */
input[type="text"],
button {
    padding: 10px;
    font-size: $base-font-size;
    /* Set the base font size for input and button */
}

/* Define media queries for responsive font size for button and input */
@media screen and (min-width: 768px) {

    /* Larger font size for wider viewports */
    input[type="text"],
    button {
        font-size: calc(#{$base-font-size} + 2px);
        /* Increase font size */
    }
}

@media screen and (max-width: 767px) {

    /* Smaller font size for narrower viewports */
    input[type="text"],
    button {
        font-size: calc(#{$base-font-size} - 2px);
        /* Decrease font size */
    }
}